version: '3.8'

volumes:
  db-data:
  cache-data:


services:
  db:
    image: postgres:12-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  web:
    build: .
    command: bundle exec puma -C config/puma.rb
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
